*.elc
/.cider-history
/.mc-lists.el
/.org-id-locations
/TAGS
/auto-save-list
/eautosave/
/ebackup/
/el-get/
/elpa/*
!/elpa/diminish-[0-9]*
!/elpa/bind-key-[0-9]*
!/elpa/use-package-[0-9]*
!/elpa/dash-[0-9]*
!/elpa/hydra-[0-9]*
!/elpa/page-break-lines-[0-9]*
!/elpa/exec-path-from-shell-[0-9]*
!/elpa/lv-[0-9]*
/emms/
/eshell/history
/eshell/lastdir
/image-dired/
/org-clock-save.el
/projectile-bookmarks.eld
/recentf
/savehist
/semanticdb/
/srecode-map.el
/tramp
/url/cookies
/org-clock-save.el~
/gnus.registry.eioioi
/helm-adaptive-history
/url/
/mastodon.plstore
/smex-items
/games/bubbles-default-2-10-10-scores
/games/tetris-scores
/mthesaur.txt.cache
/custom.el
/history
/server/server
/speed-type/*
/site-lisp/timeline-tools-autoloads.el
/.cask/
/eww-bookmarks
/games/bubbles-default-3-15-10-scores
/games/snake-scores
/projectile.cache
/recentf~
/request/curl-cookie-jar
/transient/history.el
/private
/elpy/
/.python-environments/
/transient/
/dired-history
/sandbox/.emacs.d
/flycheck_init.el
/projects
/.lsp-session-v1
/.cache/

/session.*
