*.elc

/elpa/*
!/elpa/bind-key-[0-9]*
!/elpa/dash-[0-9]*
!/elpa/hydra-[0-9]*
!/elpa/page-break-lines-[0-9]*
!/elpa/exec-path-from-shell-[0-9]*
!/elpa/lv-[0-9]*
/site-lisp/timeline-tools-autoloads.el

/.cache/
/.cask/
/.cider-history
/.mc-lists.el
/.org-id-locations
/.python-environments/
/TAGS
/auto-save-list
/dired-history
/eautosave/
/ebackup/
/el-get/
/eln-cache/
/elpy/
/eww-bookmarks
/flycheck_init.el
/games/*
/gnus.registry.eioioi
/helm-adaptive-history
/image-dired/
/mthesaur.txt.cache
/private
/semanticdb/
/server/server
/session.*
/tramp

/persist/
